@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text: #271302;
    --background: rgb(255, 252, 250);
    --primary: rgb(90, 176, 246);
    --secondary: rgb(197, 200, 252);
    --accent: rgb(12, 233, 222);
}
*{
    font-family: 'poppins',sans-serif;
}

.footerwrapper{
    height: auto;
    width: 100%;
}

.footerwrapper footer{
    height: 100%;
}

.footerwrapper footer .footertop{
    margin-top: 5rem;
    height: auto;
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
}


.footerwrapper footer .footertop .faqheading h3{
    font-size: 54px;
    line-height: 1.4;
    font-weight: 900;
}

.faqasks h6{
    font-weight: 800;
}


.footerwrapper footer .footerdown{
    height: auto;
    margin-top: 6rem;
    background-color: black;
}

.footerwrapper footer .footerdown .footercontent{
    color: white;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto auto;
}


.footerwrapper footer .footerdown .footercontent .up p{
    margin-bottom: 3rem;
    color: var(--secondary);
    font-size: 30px;
}

.footerwrapper footer .footerdown .footercontent .bottom{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:4rem
}

.footercontent .bottom .item h5{
    margin-bottom: 1.5rem;
    font-weight: 600;
}




/* responsiveness */

@media screen and (max-width:770px){
    .footerwrapper footer .footertop{
        grid-template-columns: 1fr;
    }

    .faqasks{
        margin-top: 2rem;
    }
}